@keyframes animation-topo {

    0%{ top: -100px;
        opacity: 0;
    }

    100%{ top: 0px;
          opacity: 1;    
    }   

}

header{

    animation-name: animation-topo;
    animation-duration: 1.5s;
    animation-delay: 1s;
    position: relative;
    opacity: 0;
    animation-fill-mode: forwards;
    
}

@keyframes animation-roda{

    0%{

        transform: rotate(0);

    }

    100%{

        transform: rotate(360deg);

    }

}

.break-bd:hover{

    animation-name: animation-roda;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

.one:hover{

    transform: scale(1.2);

}

.two:hover{

    transform: scale(1.2);

}

.three:hover{

    transform: scale(1.2);

}

@keyframes animation-fotao {

    0%{ top: -100px;
        opacity: 0;
    }

    100%{ top: 0px;
          opacity: 1;    
    }   

}

.os-brabos{

    animation-name: animation-fotao;
    animation-duration: 2.5s;
    animation-delay: 2s;
    position: relative;
    opacity: 0;
    animation-fill-mode: forwards;

}

.fotecas:hover{

    transform: scale(1.02);
    background-color: #6495ed;

}

@keyframes animation-teste{

    0%{background-color: #2a7e7e;}

    50%{background-color: #2cb4b4;}

    100%{background-color:#00ffff;}
    
}

body{

    animation-name: animation-teste ;
    animation-duration: 5s;
    animation-iteration-count: infinite ;

}

.link:hover{

    transform: scale(1.1);

}
